/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #33475B;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

h1,
h2,
.popolar {
    font-weight: bolder;
}

.w50 {
    width: 50%;
}

.link,
.btn {
    text-decoration: none;
    font-size: 13px;
}

.link {
    padding: 0 10px 0 10px;
    color: #2C2C2C;
}

.link:hover {
    color: #00ACB6;
    text-decoration:underline;
}

.btn:hover {
    opacity: 50%;
}

.txt-r{
    text-align: right;
}

.btn {
    border-radius: 5px;
    padding: 10px ;
    border: 1px solid #FE775A;
}

.btn-large{
    padding: 20px 40px;
}

.btn-orange {
    background-color: #FE775A;
    color: white;
}

.list {
    list-style: none;
}

.box-main1,
.col-hub{
    border-radius: 5px;
    border: 1px solid rgba(244,249,253, 0.7);
    box-shadow: 1px 1px 15px #d3e2e9;
}

.bg-white{
    background-color: white;
}


.bg-color{
    background-color: #F4F9FD;
}

.w100{
    width: 100%;
}


.txt-a {
    text-align: center;
}

.popolar {
    text-transform: uppercase;
    margin-bottom: 10px;
}


.check::before {
    content: "\2714";
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    background-color: #FE775A;
    color: white;
    font-size: 10px;
    vertical-align: middle;
}

.col-hub,
#book-col-left {
    width: 30%;
}

.va {
    vertical-align: middle;
}

/* header */

/* fixed */

#fixed-bar {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
    line-height: 80px;
    border-bottom:2px solid #2C2C2C;
}

#en {
    border-right: 1px solid #2C2C2C;
}

#login {
    margin-right: 5px;
    color: #FE775A;
}

.fa-search {
    padding: 0 10px;
    color: #00ACB6;
}

/* barra con il logo */

#logo-bar {
    height: 80px;
    line-height: 80px;
    margin-top: 80px;
    background-color: #fdfaf7;
}

.fa-chevron-down {
    padding-left: 15px;
}

/* jumbotron */

#jumbotron {
    height: 700px;
    position: relative;
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    background-position: bottom;
}

#img-row {
    height: 84px;
    position: absolute;
    bottom: 0;
    background-color: #AFEBE4;
    border-top: 3.5px  solid #33475B;
    border-bottom: 3.5px  solid #33475B;
}

#jumbotron-text {
    width: 40%;
    padding-right: 30px;
    padding-top: 80px;
    color: #33475B;
}

h1 {
    font-size: 50px;
    line-height: 53px;
}

#jumbotron  p {
    margin: 30px 0 50px 0;
}

#jumbotron p:last-child {
    margin-top: 50px;
    font-size: 13px;
}

/* main */

/* Prima sezione del main */

#main-1-section{
    padding-bottom: 50px;
}

/* sezione con il cubo */

#cube-container {
    width: 25%;
    margin: 0 auto;
    padding-top: 30px;
}

#cube-text h2 {
    font-size: 35px;
}

#cube-section  h4 {
    padding: 30px 100px;
}

/* sezione con il libro */

#book-section {
    padding: 30px 0;
}

#book-col-left{
    padding: 20px 0 20px 20px;
}

#book-col-left img{
    margin-bottom: 30px;
}

#book-col-right {
    width: 70%;
    padding-right: 50px;
}
#book-col-right h4,
#book-col-right hr,
#book-col-right .list{
    display: inline-block;
}

.book-text {
    padding: 15px 15px;
}

#popular-feature {
    line-height: 100%;
}

hr {
    margin: 0 50px;
    border: 1px solid #33475B;
}

/* sezione con le tre colonne */

.col-hub {
    padding: 20px 25px 20px 30px;
}

.col-hub p {
    padding: 20px 0 30px 0;
}

.hub-text {
    height: 50%;
    border-bottom: 2px solid #33475B;
}

.hub-p {
    height: 150px;
}

.hub-list {
    margin: 30px 0;
}

.hub-list-container {
    margin-bottom: 50px;
    text-align: left;
}

#hub-section {
    margin-top: 30px;
}

#sales-col {
    margin: 0 5%;
}

.hub-image {
    height: 100px;
}

/* secona sezione del main */

#main-2-section {
    color: white;
    background-image: linear-gradient(to left, #00BAA8, #00A8B9);
}

#text-blu-section {
    padding: 40px 0;
}

#blu-section-title {
    font-size: 30px;
    margin-bottom: 20px;
}

/* tabella */

#tabel{
    width: 100%;
    padding-bottom: 40px;
}

.tabel-row .box-tabel:first-child {
    border-left: none;
}

.box-tabel {
    width: 25%;
    height: 200px;
    padding: 20px 0;
    border-left:1px solid white
}

.border {
    border-top: 1px solid white;
}

.numbers {
    margin: 10px 0;
    font-size: 40px;
}

.text-numbers {
    font-size: 13px;
}

.numbers::after {
    content: "\002B";
    padding-left: 5px;
    font-size: 25px;
    vertical-align: middle;
}

/* terza sezione del main */

/* sezione con i loghi */

#logo-tabel-section {
    width: 70%;
    margin: 0 auto;
    height: 300px;
}

#txt-logotabel {
    width: 30%;
    padding: 50px;
}

#txt-logotabel h2 {
    font-size: 42px;
}

#txt-logotabel p {
    margin-top: 20px;
    font-size: 14px;
}

#logo-tabel {
    width: 70%;
    height: 30px;
    line-height: 30px;
    padding: 60px 0 0 70px;
}

#logo-tabel-container {
    width: 100%;
}

.big-logo {
    height: 35px;
}

.logo-box {
    width: 25%;
}

.little-logo {
    height: 13px;
}

#logo-tabel-row {
    margin-bottom: 60px;
}

/* footer */