/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #2C2C2C;
}

.container {
    width: 72%;
    margin: 0 auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w50 {
    width: 50%;
}

.link {
    padding: 0 10px 0 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #2C2C2C;
}

.fa-chevron-down,
#logo {
    vertical-align: middle;
}

#fixed-col-right,
#logo-col-right {
    text-align: right;
}

.btn {
    border-radius: 5px;
    padding: 10px ;
    margin: 0 5px;
    border: 1px solid #FE775A;
}

.btn-orange {
    background-color: #FE775A;
    color: white;
}

.list {
    display: inline-block;
    list-style: none;
}


/* header */

#fixed-bar {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 80px;
    width: 100%;
    line-height: 80px;
    background-color: #F4F9FD;
    border-bottom:2px solid #2C2C2C;
}

#en {
    border-right: 1px solid #2C2C2C;
}

#login {
    color: #FE775A;
    background-color: white;
}

.fa-search {
    padding: 0 10px;
    color: #00ACB6;
}

#logo-bar {
    margin-top: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #fdfaf7;
}

#jumbotron {
    height: 400px;
    background-color:green ;
}





/* main */

/* footer */